[Desktop Entry]
Type=Application
Name=Bazaar
Comment=Add, remove or update flatpak software on this computer
Exec=bazaar %U
Icon=io.github.kolunmi.Bazaar
Terminal=false
Categories=Utility;
Keywords=GTK;System;PackageManager;Discover;Flatpak;Software;Store;
MimeType=x-scheme-handler/appstream;x-scheme-handler/flatpak;x-scheme-handler/flatpak+https;
StartupNotify=true
NoDisplay=true

